nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.25rem 1rem;
  position: absolute;
  left: 0;
  right: 0;
}
nav img{
  width: 50px;
}
nav ul{
  display: flex;
  list-style-type: none;
}
nav li{
  margin: 0 0.5rem;
}
nav a{
  padding: 0 0.5rem;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: #FFFFFF;
}


/* Domains Styling */


.domains, .events{
  min-height: 100vh;
  padding: 4rem 5vw 0 5vw;
  background-color: #232323;
  text-align: center;
}
.domains h1, .events h1{
  font-size: 40px;
  color: #6F389F;
  font-family: 'Roboto', sans-serif;
}
.events h2{
  display: flex;
  align-items: center;
  border: none;
}
.events img{
  margin-right: 1rem;
}
.domains section, .events section{
  max-width: 992px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  color: #FFFFFF;
  padding: 2rem 0;
}
section h2{
  padding: 5px 0;
  border-bottom: 5px solid #6F389F;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
}
section p{
  margin: 2rem 0 0 0;
  font-size: 20px;
}
section ul {
  font-size: 25px;
}
section li{
  margin: 1rem 0;
}